* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formContainer form {
  width: 50%;
}
.formContainer form* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.formContainer form ul {
  margin: 0 auto;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  width: 60%;
  height: 100%;
}
.formContainer form ul li {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.formContainer form ul li * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3px;
  padding: 8px 15px;
}
.formContainer form ul li label {
  background-color: #07689f;
  color: #d6e6f2;
  padding: 8px 0;
  transition: 800ms;
  white-space: nowrap;
  position: absolute;
  font-size: 1.6rem;
  -webkit-clip-path: polygon(0 0, 95% 0, 90% 50%, 95% 100%, 0 100%);
  clip-path: polygon(0 0, 95% 0, 90% 50%, 95% 100%, 0 100%);
  text-align: center;
  width: 100%;
  height: 100%;
}
.formContainer form ul li input {
  width: 100%;
  display: block;
  height: 100%;
  background: #d6e6f2;
  color: #07689f;
  border: none;
  letter-spacing: 0.11em;
  font-weight: 500;
  padding-left: 30px;
  font-size: 1.2rem;
  transition: 300ms;
}
.formContainer form ul li input::-moz-placeholder {
  color: transparent;
  font-weight: normal;
  letter-spacing: 0.04em;
  -moz-transition: 300ms;
  transition: 300ms;
}
.formContainer form ul li input:-ms-input-placeholder {
  color: transparent;
  font-weight: normal;
  letter-spacing: 0.04em;
  -ms-transition: 300ms;
  transition: 300ms;
}
.formContainer form ul li input::placeholder {
  color: transparent;
  font-weight: normal;
  letter-spacing: 0.04em;
  transition: 300ms;
}
.formContainer form ul li input:focus {
  outline: none;
}
.formContainer form ul li input:focus::-moz-placeholder {
  color: #07689f;
}
.formContainer form ul li input:focus:-ms-input-placeholder {
  color: #07689f;
}
.formContainer form ul li input:focus::placeholder {
  color: #07689f;
}
.formContainer form ul li > button {
  min-width: 100px;
  height: 33px;
  display: inline-block;
  position: relative;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1.4rem;
  transition: 400ms 100ms;
  color: #d6e6f2;
  background-color: #07689f;
  padding: 0;
  border: none;
  margin: 0 auto;
}
.formContainer form ul li > button > div {
  z-index: 102;
  height: 100%;
}
.formContainer form ul li > button::before {
  content: "";
  display: block;
  width: 0px;
  height: 0%;
  z-index: 100;
  padding-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #c0dbf0;
  transition: 200ms;
}
.formContainer form ul li > button:hover {
  color: #07689f;
  outline: none;
  border: none;
}
.formContainer form ul li > button:hover::before {
  width: 120%;
  padding-top: 120%;
}
.formContainer form ul li > button:active {
  color: #d6e6f2;
  outline: none;
  border: none;
}
.formContainer form ul li > button:active::before {
  width: 0%;
  padding-top: 0%;
  transition: 100ms;
}
.formContainer form ul li.inputFocused input {
  width: 75%;
  margin-left: 25%;
}
.formContainer form ul li.inputFocused label {
  transition: 1s;
  width: 30%;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}
.formContainer form ul li.inputFocused label::-moz-placeholder {
  color: #07689f;
}
.formContainer form ul li.inputFocused label:-ms-input-placeholder {
  color: #07689f;
}
.formContainer form ul li.inputFocused label::placeholder {
  color: #07689f;
}